/* match mobile interface */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  /* Center and limit page width */
  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
}

/*
 The following is necessary for fonts & icons to work. See https://github.com/GeekyAnts/NativeBase-KitchenSink/tree/web-support
 */

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto_medium';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono Medium';
  src: url('./fonts/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  /*font-family: 'MaterialCommunityIcons';*/
  font-family: 'Material Design Icons';
  src: url('~react-native-vector-icons/Fonts/MaterialCommunityIcons.ttf')
    format('truetype');
}

/* 
@font-face {
  font-family: 'MaterialIcons';
  src: url('~react-native-vector-icons/Fonts/MaterialIcons.ttf')
    format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('~react-native-vector-icons/Fonts/FontAwesome.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Entypo';
  src: url('~react-native-vector-icons/Fonts/Entypo.ttf') format('truetype');
}

@font-face {
  font-family: 'EvilIcons';
  src: url('~react-native-vector-icons/Fonts/EvilIcons.ttf') format('truetype');
}

@font-face {
  font-family: 'fontcustom';
  src: url('~react-native-vector-icons/Fonts/Foundation.ttf') format('truetype');
}

@font-face {
  font-family: 'Ionicons';
  src: url('~react-native-vector-icons/Fonts/Ionicons.ttf') format('truetype');
}

@font-face {
  font-family: 'Octicons';
  src: url('~react-native-vector-icons/Fonts/Octicons.ttf') format('truetype');
}

@font-face {
  font-family: 'simple-line-icons';
  src: url('~react-native-vector-icons/Fonts/SimpleLineIcons.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Zocial';
  src: url('~react-native-vector-icons/Fonts/Zocial.ttf') format('truetype');
} */
